header h1{
    padding: 20px;
    text-align: center;
    user-select: none;
}

/*padajuci meni*/
nav ul{
    overflow: hidden;
    list-style-type: none;
    
    
}
#logo{
    height: fit-content;
    overflow:hidden ;

}
nav ul li{
    width: 25%;
    float: left;
    text-align: center;
    
    
}
nav a{
    display: block;
    padding: 18px;
    background-color: var(--zelena);
    text-decoration: none;
    color:white;
}
nav a:hover {
    background-color: #34721e;
}
.dropdown:hover .submenu{
    display: block;

}
.submenu{
    position: absolute;
    display: none;
    width: 25%;
    z-index: 100;
}
.row{
    width: 100%;
    float: left;
}