table {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

tbody {
    width: 100%;
}

td {
    padding: 0px;
    margin: 0px;
}

table img {
    max-width: 80%;
}

img {
    width: 100px;
    height: 100px;
}

.counter {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    width: 80px;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}


/*forma placanja*/

#plati {
    display: none;
}

#plati {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

#plati {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="month"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#logout {
    width: 30%;
}