div {
    height: 20%;
}

#poruka {
    color: red;
}

#tabela {
    width: 75%;
    margin-top: 6%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

tbody {
    width: 100%;
}

td {
    padding: 0px;
    margin: 0px;
}

table img {
    max-width: 80%;
}

select,
option,
label {
    padding: 11px;
    margin-top: 15px;
}

select {
    border: 3px solid var(--zelena);
}